html {
  box-sizing: border-box;
  width: 100vw;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 0;
}

.photo-card {
  margin-bottom: 30px;
}

.stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.stats-item {
  margin-right: 10px;
}

.material-icons {
  display: flex;
}

.button {
  display: block;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #904c6e;
  background: white;
  border: 1px solid;
  cursor: pointer;
  transition: 0.3s linear;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}
